@import '/node_modules/modern-normalize/modern-normalize.css';

:root {
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  z-index: -1;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 30px;
  background-color: blueviolet;
  font-size: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  height: 100%;
}

.input-form {
  display: flex;
  width: 200px;
  border-right: none;
  border-radius: 6px 0 0 6px;
  border-color: transparent;
  padding: 0 10px;
  /* text style */
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  vertical-align: bottom;
}

.input-form:hover,
.input-form:focus {
  outline: none;
}

.search-btn {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: none;
  border-radius: 0 6px 6px 0;
  border-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.search-icon {
  width: 100%;
  height: 100%;
  transition: fill var(--transition-duration-and-func);
}

.search-btn:hover .search-icon,
.search-btn:focus .search-icon {
  fill: #404bbf;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  padding: 150px 15px 50px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.gallery-item {
  flex-basis: calc((100% - 60px) / 4);
}

.photo-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow var(--transition-duration-and-func);
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.photo-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}

.photo-card img {
  min-height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.info-item {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
}

.info-item b span {
  font-weight: 400;
}

.load-more {
  display: none;
  margin-top: 50px;
  background-color: #4d5ae5;
  width: 150px;
  height: 50px;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color var(--transition-duration-and-func);
}

.load-more:hover {
  background-color: #404bbf;
}
